@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
body {
    background-color: hsl(171, 100%, 41%);
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root {
    width: 100%;
}
